@import url('https://fonts.googleapis.com');

body {
  display: block;
  text-align: center;
  width: 99.5%;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  
}
#units {
  text-align: center;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;  
  margin-top: 70px; 

}

#units button {
  font-size: 25px;
  margin: 20px;
  height:100px;
  width: 250px;
  
}
#units button:hover{
  cursor: pointer;

}
button {
  cursor: pointer;

}
#unitDescription {
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
  margin: 50px;
}

#answers {
  display: grid;
  grid-template-columns: repeat(2,2fr);
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}
#a0, #a1, #a2, #a3 {
  color: white;
  font-size: 36px;
  height:150px;
  width: 745px;
  box-sizing: border-box;
  margin: 5px;
  box-shadow: 0 6px #3c6179;
  transition: all 0.1s ease;
  background-color: #5588aa;
  border-radius: 15px;
  position: relative;
  
}
#a0:hover, #a1:hover, #a2:hover, #a3:hover {
  background-color: #6a94af;
  transform: translateY(4px);
  box-shadow: 0 2px #3c6179;
}
#a0:active, #a1:active, #a2:active, #a3:active {
  transform: translateY(6px);
  box-shadow: 0 0 #3c6179;
}