body {
  display: block;
  text-align: center;
  font-size:30px;  
  
}
#units {
  text-align: center;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
}

#units button {
  font-size: 25px;
  margin: 20px;
  height:100px;
  width: 250px;
}